:root {
    --logo-font: "Raleway", sans-serif;
    --main-font: "Roboto", sans-serif;
    --brand-color: #2196f3;
    --main-color: #212121; /* txt, hdr, btn */
    --main-gray-color: #757575; /* p */
    --background-dark-color: #2f303a; /*hero, footer*/
    --background-gray-color: #f5f4fa; /* team bg, button bg */
    --white-color: #ffffff; /* main bg, active txt, logo ftr */
    --black-color: #000000; /* logo hdr*/
    --card-border-color: #eeeeee;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    /*--haeder-border-color: #ececec;*/
  }

  body{
    background-color: #ffffff;
    color: #434455;
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  

  .hero {
    background-color: #2e2f42;
  }
  /*header*/
  /*first section*/
  .hero-title {
    font-weight: 900;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    width: 696px;
    height: 120px;
    text-align: center;
  }
  
  .button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-style: hidden;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white-color);
    background-color: #4D5AE5;
  }
  
  button:hover{
    background-color: #404BBF;
  }
  button:focus{
    background-color: #404BBF;
  }
  