@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap"); 

:root {
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --iriscolor: #4D5AE5;
  --navyblue: #2E2F42;
  --navcolor: #000000;
  --oceancolor: #404BBF;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
}

.link-logo{
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}


.web-logo{
  color: var(--iriscolor);
  font-weight: 500;
  text-transform: uppercase;
}

.studio-logo{
  color: var(--navyblue);
  text-transform: uppercase;
}

.studio-logo2{
  color: var(--whitecolor);
}


.navbar .link {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5 ;
}

.navbar:link{
  text-decoration: none;
}

.lists{
  list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus, 
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus{
  color: var(--oceancolor);
}

.contact-info .info {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.bg-section {
  background-color: var(--navyblue);
}

.title{
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 800;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  color: var(--whitecolor);
  background-color: #4D5AE5;
}


.button.primary{
  background-color: var(--iriscolor);
  color: var(--whitecolor);
}

.button.primary:hover,
.button.primary:focus{
  background-color: #404BBF;
}

.titlelist{
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
}

.description{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*.description.titlelist{
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
} */

.sectiontitle {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  list-style: none;
  letter-spacing: 0.02em;
}

.teamname {
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.02;
  color: #2e2f42;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footerbg {
  background: var(--navyblue);
}

.lastparagraph{
  color: var(--whitecolor);
  width: 265px;
  height: 70px;
}

.section4{
  background-color: #F4F4FD;
}